:root {
  --background-color: #282c34;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.inner-container {
  padding: 1.5rem 2rem;
  background-color: aliceblue;
  color: var(--background-color);
  border-radius: 0.5rem;
  max-width: 73.125rem;
}

.order-tab {
  font-size: 1rem;
  padding: 1rem;
  margin-right: 0.2rem;
  border: 1px solid var(--background-color);
  border-radius: 0.4rem;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
}

.active-button {
  background: var(--background-color);
  color: white;
}

.tab-contents {
  margin-top: 1rem;
}
